@charset "UTF-8";
/*
pra deixar as letras em capslock pode udar a tag "text-transform: uppercase;" onde todas as letras ficam maiusculas e do mesmo tamanho, ou pode usar a "font-variant: small-caps" onde as letras iniciais ficam maiores que as outras, msm que todas fiquem maiuculas.
*/

    * {
        margin: 0px;
        padding: 0px;
    }
    html, body {
        min-height: 100vh;
        background-color: darkgray;
    }
    header {
        background-color: black;
        color: white;
        text-align: center;
    }

    header > h1 {
        padding-top: 50px;
        font-variant: small-caps;
    }

    header > p {
        padding-bottom: 50px;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bolder;
    }

    header a:hover, footer a:hover {
        text-decoration: underline;
    }

    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
    }



    section.normal {
        background-color: white;
        color: black;

    }

    section.imagem {
        background-color: rgb(51, 51, 51);
        color: white;
    }

    section.imagem > p {
        width: 400px;
        background-color: rgba(0, 0, 0, 0.26);
    }

    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
    }